.nav1 {
 position: absolute;
 right: 45px;
 color:#00DBAD;
 text-decoration: none;
 border-style: solid;
 border-radius: 15px 15px ;
 padding: 5px;
 top: 15px;
}

.nav2 {
  position: absolute;
  right: 245px;
  color:#00DBAD;
  text-decoration: none;
  border-style: solid;
  border-radius: 15px 15px ;
  padding: 5px;
  top: 15px;
}

.nav1:hover{
background-color:#3D4148
;
}

.nav2:hover{
background-color:#3D4148;
}

.soonTM img{
   width: 10%;
   height: auto;
   position: relative;
  top: 48px;
}

.normalText {
   color:#00DBAD;
   font-family: 'Noto Sans', sans-serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color:#00af8a
}

.optinux{
 color:#fc5cfa;
}

.optinux:after{
  content: "Optinux"
}

.optinux:hover:after {
    content: "formerly known as Tobilpcraft";
}

.FindMe{
  color:#00DBAD;
  font-family: 'Noto Sans', sans-serif;
  font-style: italic;
  text-align: center;
  border-style:solid;
  border-top:0px;
  border-bottom:0px;

}

.WYCFM{
  color:#00DBAD;
  font-family: 'Noto Sans', sans-serif;
  border-style: solid;
}

.WYCFM:hover{
  background-color:#3D4148;
}
